.panel {
  position: absolute;
  left: 12rem;
  bottom: 70rem;
  width: 325rem;
  height: 160rem;
  display: flex;
  flex-direction: column;

  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  color: var(--menuText1Normal);
  border-radius: 8rem;

  pointer-events: auto;

  overflow: hidden;

  animation: entry 0.2s;
  transition: width 0.3s, height 0.3s;

  text-align: center;

  &.expanded {
    width: 400rem;
    height: 330rem;

    .header {
      font-size: 16rem;
    }

    .content {
      font-size: 20rem;
    }
  }

  &.fullScreen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    border-radius: 0rem;
    background-color: var(--menuControl1--hover);

    .header {
      font-size: 32rem;
    }

    .content {
      font-size: 48rem;
    }
  }

  .header {
    background-color: var(--panelColorDark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: var(--stroke2);
    border-bottom-color: var(--accentColorDark);
    padding: 8rem;
    font-size: 20rem;
  }

  .content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    font-size: 28rem;

    img {
      margin-bottom: 6rem;
      width: 256px;
      height: 256px;
      filter: drop-shadow(0px 0px 3rem rgba(0, 0, 0, 0.75));
    }
  }
}
